<div class="container">
  <div class="jumbotron">
    <h1>New Sails App</h1>

    <h2>Get some React in here soon</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Go somewhere else!</a>
  </div>
</div>